body{
    margin: 0;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 28px;
    font-weight: 900;
    font-family: fantasy;
    height: 50vh;
    width: 100%;
}

